name: Node.js CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [10.19.0]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          
          
      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y upgrade
          apt-get install --no-install-recommends -y python3 build-essential nodejs npm yarn mocha llvm clang-10
          apt-get clean && rm -rf /var/lib/apt/lists/*
          
      - run: npm install -g cmake-js@5.3.2
      - run: npm install
      - name: Environment Information
        run: npx envinfo
      - name: Build debug
        run: npm run build_debug
      - name: Run Test
        run: npm test
      - name: Run Coverage
        run:  |
          chmod +x coverage.sh
          ./coverage.sh
